.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar__header {
    display: flex;  
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid rgb(78, 75, 75);
    background-color: rgb(56, 53, 53);
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
    
}

.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color: rgb(18, 27, 34);
    height: 39px;
    padding: 10px;
    border: 0.5px solid rgb(78, 75, 75);
    border-top: none;

}

.sidebar__searchContainer {
    display: flex;  
    align-items: center;
    background-color: rgb(56, 53, 53);
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}

.sidebar__searchContainer > input {
    display: flex;
    border: none;
    box-shadow: none;
    flex: 1;
    padding:  10px;
    border-radius: 20px;
    outline: none;
    margin-left: 0px;
    background-color: rgb(56, 53, 53);
}

.sidebar__chats {
    flex: 1;
    background-color: white;
    overflow: scroll;
}